# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vscode

ffmpeg.exe*
ffplay.exe*
ffprobe.exe*

/result
/release
/tools/keys
/tools/crid/my_results
/tools/crid/source
/tools/crid/crid_unpack

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ps1
*.bat